.bg-bg{
    background-color: rgba(0, 0, 0, 0.98);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.bg-img{
    background-image: url(C:\Users\HP\Desktop\newproject\port\src\assets\to.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 45vw;
    position: absolute;
    right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headercontent{
    color: white;
    text-align: center;
    margin-left: -35rem;
}
.name{
    font-size: 6rem;
    font-weight: bolder;  
}
.thedev{
    font-size: 2.5rem;
    margin: 1.5rem 0;
    display: flex;
    gap: 10px;
    text-align: center;
    margin-left: 7rem;
}

.nodes{
   
    display: flex;
    width: 100vw;
    max-height: 20rem;
    position: absolute;
}
.node1, .node2,.node3{
   width: 30rem;
   height: 20rem;
   background-color: rgba(0, 0, 0, 0.788);
  
}
.node11, .node22,.node33{
    width: 30rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
 }
.node22,.node33{
    margin-left: 30rem;
 }
.node33{
    margin-left: 60rem;
 }
 
.bigger{
    /* display: none; */
    position: relative;
    margin: 5rem 0;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}
.nodez{
    margin-top: 20rem;
    display: flex;
    width: 100vw;
    max-height: 20rem;
    position: absolute;
    
}
.nods{
    position: relative;
    display: flex;
    flex-direction: row;
}
.writer{
    font-size: 22rem;
    position: absolute;
    color: white;
    z-index: 100;
    margin-top: -30px;
}
.social-media{
   position: absolute;
   right: -27rem;
   display: flex;
   margin-top: 20rem;
   gap: 1rem;
   flex-direction: column;
}
.media{
    width: 4%;
    filter: invert(99%) sepia(0%) 
    saturate(2%) hue-rotate(96deg) 
    brightness(109%) contrast(100%);
}